.App-header {
  background-color: #222;
  height: 100px;
  padding: 0px;
  color: white;
}

.App-title {
  font-size: 3em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: #222;
  font-size: 2em;
  height: 50px;
  padding: 0px;
  color: white;
}